.app-name {
  display: flex;
  justify-content: center;
}
.main-container {
  position: absolute;
  background: coral;
  width: 100vw;
  height: 100vh;
}
.card-container {
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 80vw;
  height: 75vh;
  margin: 0 auto;
}
.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  top: -1em;
}
.search-input {
  width: 400px;
  height: 40px;
  border: teal solid;
  font-size: 2em;
}
.search-button {
  padding: 0.1em;

  box-shadow: black;
  color: white;
  font-size: 2em;
  border-radius: 12px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(64, 214, 143, 1) 35%,
    rgba(64, 214, 143, 1) 35%,
    rgba(83, 227, 110, 1) 57%,
    rgba(121, 253, 45, 0.359375) 100%
  );
}
/* Book Container card*/
.outer-card {
  background-color: cadetblue;
}
.title {
}
.book-cover {
}
.details {
}
